/*	
	사용폰트	
	font-family: 'Noto Sans KR', sans-serif; 
	색상
	#ebf0f7
*/

/* 공통 */
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
*{margin: 0 auto; text-decoration: none;}
body{perspective: 300px; margin: 0 auto; background: rgba(235,240,247,1)}
.container{position: relative; margin: 0 auto;}

/* 공통 */
.inner{border: 0px solid red; height: 100vh; margin: 0 auto; position: relative;}
.clear:after{content:""; display: block; clear: both;} 

/* 공통 헤더 */
header{height: 45px; position: absolute; /*left: 50%; transform: translate(-50%);*/ z-index: 9999; max-width: 100%/*calc(100% - 120px)*/; width: 100%;}
header .inner{height: auto;}


/* 탑메뉴 */
.top_menu{width: 100%; height: 45px; border: 0px solid orange; display: inline-block;}
.top_menu h1{height: 45px; width: 166px;}
.top_menu .top_menu_l{float: left;}
.top_menu .top_menu_r{float: right;}
.top_menu > li > a{width: 45px; height: 45px; border: 0px solid yellow; text-indent: -9999px; display: inline-block;}

.top_logo{width: 166px; height: 45px; background: url(../img/logo_tablet.jpg) no-repeat center; display: block; font-size: 0;}
.top_logo a{width: 100%;}
.top_menu .language{background: rgba(0,0,0,0.6) url(../img/globe.png) no-repeat center;}
.top_menu .user_profile{background: rgba(0,0,0,0.6) url(../img/person.png) no-repeat center; animation: able_ani 0.5s infinite alternate;}

/* 애니메이션 */
@keyframes able_ani{
	from {background: rgba(0,0,0,0.6) url(../img/person.png) no-repeat center;}
	to {background: rgba(0,0,0,1) url(../img/person.png) no-repeat center;}
}

.top_menu .cart{background: rgba(0,0,0,0.6) url(../img/cart.png) no-repeat center;}
.top_menu .hambuger{background: rgba(0,0,0,0.6) url(../img/hambuger.png) no-repeat center;}

.top_menu .language:hover{background: rgba(0,0,0,1) url(../img/globe.png) no-repeat center; }
.top_menu .user_profile:hover{background: rgba(0,0,0,1) url(../img/person.png) no-repeat center;}
.top_menu .cart:hover{background: rgba(0,0,0,1) url(../img/cart.png) no-repeat center;}
.top_menu .hambuger:hover{background: rgba(0,0,0,1) url(../img/hambuger.png) no-repeat center;}


/* 탑 사이드메뉴 */
.side_menu{position: absolute; width: 210px; height: 100vh; background: #fff; z-index: -1; top: 0; left: auto; text-align: left; padding: 60px 0 0 0; right: -210px; transition: 0.6s; overflow-y: auto;}
.side_menu a{color: #000; font-size: 14px; font-weight: 700;}
.side_menu > li:nth-child(4) a,
.side_menu > li:nth-child(5) a,
.side_menu > li:nth-child(6) a{color: rgba(0,0,0,.3);}
.side_menu > li  > ul > li a{color: rgba(0,0,0,.3);}

.hambuger.on .side_menu{right: 0;}

.side_menu > li{padding: 8px 0; overflow: hidden; position: relative; border-bottom: 1px solid rgba(0,0,0,.1);}
.side_menu > li:last-child{border-bottom: 0;}
.side_menu > li > a{display: block; background-image: url(../img/all_side_icon.png); background-repeat: no-repeat; background-size: 22px 219px; width: 100%; height: 23px; padding: 2px 0 0 16px; margin: 10px 0; font-size: 18px; text-indent: 45px;}

.side_menu > li span{display: inline-block; width: 10px; height: 2px; background: #000; text-indent: -9999px; font-size: 0; position: absolute; top: 28px;}
.side_menu > li:nth-child(4) span,
.side_menu > li:nth-child(5) span,
.side_menu > li:nth-child(6) span{background: rgba(0,0,0,.3);}
.side_menu > li span:nth-child(1){transform: rotate(45deg); right: 21px;}
.side_menu > li span:nth-child(2){transform: rotate(-45deg); right: 15px;}
.side_menu > li ul { display: none; }
.dim{width: 100%; height: 100vh; position: absolute; background: rgba(0,0,0,.8); z-index: 998; display: none; font-size: 0; text-indent: -9999px;}


.side_menu > li:nth-child(1) > a{background-position: 16px 2px;}
.side_menu > li:nth-child(2) > a{background-position: 16px -28px;}
.side_menu > li:nth-child(3) > a{background-position: 16px -56px;}
.side_menu > li:nth-child(4) > a{background-position: 16px -84px;}
.side_menu > li:nth-child(5) > a{background-position: 16px -112px;}
.side_menu > li:nth-child(6) > a{background-position: 16px -140px;}
.side_menu > li:nth-child(7) > a{background-position: 16px -168px;}
.side_menu > li:nth-child(8) > a{background-position: 16px -196px;}

.side_menu .side_sub_menu li a{width: 100%; padding-left: 62px; line-height: 40px; display: inline-block;}
.side_menu .side_sub_menu li:hover > a{background: #000; color: #fff;}

.side_menu .active_able a{color: #000;}


/* 햄버거 닫기 버튼 활성화시 */
.top_menu .hambuger.on{background: rgba(255,255,255,1) url(../img/hambuger_on.png) no-repeat center;}

/* 서브 메인탑메뉴 */
#menu {display: flex; justify-content: space-around; flex-wrap: wrap; position: absolute; height: 93px; width: calc(100% - 565px); padding: 0; margin: 0; z-index: 9999; background: #fff; left: 50%; transform: translate(-50%, 0%);}
#menu li{display: inline-block; color: #000; background: #fff; background: rgba(255,255,255, 0.5); -webkit-border-radius: 0; border-radius: 0; padding-top: 38px; margin: 0;}
#menu li a, #menu li.active a{padding: 0 0 5px; display: block; font-weight: 700;}
#menu li.active{background: none; color: #000;}
#menu li:hover{background: none;}
#menu li a{color: #000; position: relative;}
#menu li a:after{content:""; width: 0; height: 2px; position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%); background: #000; transition: width 0.3s;}
#menu li:hover a:after { width: 100%; }
#menu li.active a {color: #000;}
#menu li.active a:after{width: 100%;}

/* 공통 푸터 */
footer{background: #4e576a; font-family: 'Noto Sans KR', sans-serif; color: #fff; font-size: 15px; text-align: left; padding: 50px 0; height: 200px;}
footer .inner{width: calc(100% - 120px); height: 100px; display: flex; justify-content: space-between; flex-direction: column; flex-wrap: wrap;}

footer h2{width: 247px;}
footer .info_01 li{display: inline-block; padding: 0 20px 0 17px; position: relative;}
footer .info_01 li:first-child{padding-left: 0px;}
footer .info_01 li:last-child{padding-right: 0px;}
footer .info_01 li:after{content:""; display:block; clear:both; width: 1px; height: 10px; background: #fff; position: absolute; right: 0; top:3px;}
footer .info_01 li:after{content:""; display:block; clear:both; width: 1px; height: 10px; background: #fff; position: absolute; right: 0; top:3px;}
footer .info_01 li:last-child:after{display: none;}
footer a{color: #fff; font-weight: 500;}

footer address{display: flex; justify-content: flex-start; flex-wrap: nowrap; margin: 30px 0;}
footer address span{color: #fff; margin-right: 16px; font-weight: 300;}
footer address span:last-child{margin-right: 0;}
footer p{font-weight: 300; color: #fff;}
footer p br{display: none;}

footer .sns_logo{display: flex; justify-content: flex-end;}
footer .sns_logo li{margin-right: 20px;}


@media screen and (max-width : 1668px){
	.top_menu{width: 100%;}
	.top_logo{display: block; float: left;}
	.top_logo:hover{width: 166px; height: 45px; background: url(../img/logo_tablet_hover.jpg) no-repeat center; font-size: 0;}
}

/* 미디엄 노트북 */
@media screen and (max-width : 1550px){
	footer{font-size: 13px;}
	
	footer .sns_logo{width: 110px; flex-wrap: wrap; justify-content: center;}
	footer .sns_logo li{margin: 0 10px 10px 0;}
	
	
}

/* 큰 태블릿 또는 작은 노트북 */
@media screen and (max-width : 1200px){
	footer .info{order: 1; text-align: right;}
	footer address{display: flex; justify-content: flex-end; flex-wrap: wrap; margin: 30px 0 30px 0;}
	footer .sns_logo{width: 220px; flex-wrap: nowrap; justify-content: flex-end; margin-left: 30px;}
	footer .sns_logo li{margin: 0 10px 0 0;}
	footer .sns_logo li img{width: 80%;}
	/* footer > .inner {??} */
}

/* 서랍 크기 고정형*/ 
@media screen and (max-width : 1000px){
	header{max-width: inherit;}
	#menu {display: none;}
	.top_menu{width: 100%;}
	
	footer{height: 250px;}
	footer .inner{height: 150px;}
	footer address{display: inline-flex; flex-wrap: wrap; width: 489px; margin: 35px 0;}
	footer address span:nth-child(1), footer address span:nth-child(2){margin: 0 16px 28px 0;}
	footer address span:nth-child(2){margin-right: 0;}
	
	footer .sns_logo{width: 113px; flex-wrap: wrap; justify-content: flex-end; margin-left: 140px;}
	footer .sns_logo li{margin: 0 10px 10px 0;}
	footer .sns_logo li:nth-child(3),
	footer .sns_logo li:nth-child(4){margin: 0 10px 0 0;}
	footer .sns_logo li img{width: 80%;}
}

@media screen and (max-width : 900px){
	footer{height: auto;}
	footer .info{height: 150px; display: flex; flex-direction: column; align-items: flex-end;}
	footer .info_01{width: 255px; display: flex; flex-wrap: wrap; justify-content: flex-end;}
	footer .info_01 li:after{display: none;}
	footer .info_01 li{padding: 0 20px 10px 0;}
	footer .info_01 li:nth-child(4),
	footer .info_01 li:nth-child(5),
	footer .info_01 li:nth-child(6){padding: 0 20px 0 0;}
	footer .info_01 li:nth-child(3),
	footer .info_01 li:nth-child(6){padding: 0 0 10px 0;}
	footer address{display: inline-flex; flex-wrap: wrap; width: 388px; margin: 25px 0 30px 0;}
	footer address span:nth-child(1), footer address span:nth-child(2){margin: 0 16px 10px 0;}
	footer address span:nth-child(2){margin-right: 0;}
	
	footer .sns_logo{width: 110px; margin-left: 0;}
	footer .sns_logo li{margin: 0 10px 10px 0;}
	footer .sns_logo li:nth-child(3),
	footer .sns_logo li:nth-child(4){margin: 0 10px 0 0;}
	footer .sns_logo li img{width: 80%;}
}

@media screen and (max-width : 800px){
/* footer .inner {width: calc(100% - 120px); height: 100px; display: flex; justify-content: space-between; flex-direction: column; flex-wrap: wrap;} */


/* 태블릿 또는 모바일(폴딩)*/
@media screen and (max-width : 768px){
	header{max-width: inherit;}	
	.hambuger, .top_logo{visibility: visible !important;}
	/*.top_menu{width: calc(100% - 166px);} */
	
	/* footer .sns_logo{order: -1} */
	footer h2{width: 200px;}
	footer h2 img{width: 200px;}	
}

@media screen and (max-width : 650px){
	footer{padding: 13px 0;}
	footer .inner{width: calc(100% - 70px) !important; height: 427px; justify-content: space-around;}
	footer .sns_logo{width: 100%; flex-wrap: nowrap; justify-content: space-around; order: -1; margin-left: 0;}
	footer .sns_logo li:nth-child(4){margin: 0;}
	footer .sns_logo li img{width: 100%;}
	
	footer h2{width: 85px; margin: 0 auto; order: 2}
	footer h2 img{width: 85px;}	
	
	footer .info{height: 250px; display: flex; flex-direction: column; justify-content: space-between; align-items: center;}
	footer .info_01{width: 110px; justify-content: center;}
	footer .info_01 li{padding: 0 5px 20px 5px !important;}
	/* footer .info_01 li:nth-child(3), */
	/* footer .info_01 li:nth-child(6){padding: 0 0 10px 0;} */
	footer address{display: none; flex-wrap: wrap; width: 0; margin: 0;}
	footer p{text-align: center; line-height: 1.75;}
	footer p br{display: block;}
	
}

/* 모바일*/
@media screen and (max-width : 480px){
	.top_logo{background: url(../img/logo_mobile.jpg) no-repeat center; width: 45px;}
	.top_logo:hover{width: 45px; background: url(../img/logo_mobile_hover.jpg) no-repeat center; font-size: 0;}
	footer .sns_logo{width: 100%;}
	footer .sns_logo li img{width: 90%; text-align: center;}
	/* .top_menu{width: calc(100% - 45px);} */
}