/*	
	사용폰트	
	font-family: 'Noto Sans KR', sans-serif; 
	색상
	#ebf0f7
	
	단순히 다크 테마라고 #000을 넣으시면 보기 상당히 이상한 디자인이 탄생해버립니다.
	Material Theme에선 #121212를 권고하고, 대부분 #121212 ~ #363636 정도 사이를 사용합니다.
	마찬가지로 #fff은 너무 밝을 수 있으니, 정말 강조하고 싶은 문구가 아니라면 피하시는 게 좋습니다.
	강조하고 싶은 텍스트엔 #f1f1f1를,
	일반적인 텍스트엔 #bbb를 사용하시는 걸 권장합니다만, 꽤 밝은 글자색을 사용하는 사이트도 많으며, windows 10은 심지어 배경색에 #000, 글자색에 #fff를 사용하기도 합니다.

	배경색 #121212를 기준으로, #9f9f9f까지 AAA 레벨을 통과하니 참고해주세요.
*/

body{overflow-x: hidden;}
.clear:after{content:""; display: block; clear: both;}
*{font-family: 'Noto Sans KR', sans-serif;}
*{color: #000;}

.join_inner{ width: 90%; max-width: 656px; height: auto; margin: 0 auto; padding: 90px 0 0 0; text-align: center; border: 0px solid red;}
.join_section .top_text h2{font-size: 50px; font-weight: 700; color: #000; margin: 0 0 50px 0; text-align: left;}
.join_section .top_text p{font-size: 18px; line-height: 1.4; font-weight: 700; letter-spacing: -0.05em; margin: 0 0 90px 0; text-align: left;}
.join_section .top_text p br{display: block;}
.join_section  div > span{font-size: 20px; line-height: 1.4; font-weight: 700; letter-spacing: -0.05em;}


.process_pictogram{}
.process_pictogram span{display: inline-block; font-size: 0; text-indent: -9999px; background: #cacaca;}

.process_pictogram > .process_bar{ max-width: 540px; width: 90%; height: 7px; position: relative;}
/* .process_pictogram span:nth-child(1){background: url(../img/join_sub/process_bar.png) no-repeat center; width: 568px; height: 29px; left: 44px; top: 0;} */

.process_pictogram > .process_bar span{ position: absolute;}


.process_bar span.bar{width: 270px; height: 7px; top: 50%; transform: translate(0%, -50%);}
.process_bar span.bar_left{ left: 0%; }
.process_bar span.bar_right{ right: 0%; }
.process_bar span.bar.on{background: #000;}

.process_bar span.circle{width: 30px; height: 30px; border-radius: 30px; top: 50%; transform: translate(-50%, -50%);}
.process_bar span.circle_left{left: 0%;}
.process_bar span.circle_middle{left: 50%;}
.process_bar span.circle_right{right: 0%; transform: translate(50%, -50%);}
.process_bar span.circle.on{background: url(../img/join_sub/process_checked.png) no-repeat center;}


.process_bar span.truck{width: 88px; height: 64px; top: 50%; transform: translate(-50%, -50%);}
.process_bar span.truck_left{left: 0%;}
.process_bar span.truck_middle{left: 50%;}
.process_bar span.truck_right{right: 0%; transform: translate(50%, -50%);}
.process_bar span.truck.on{background: url(../img/join_sub/truck_icon.png) no-repeat center;}


.process_pictogram > ul{display: flex; justify-content: space-between; margin: 0 0 85px 0; padding: 40px 0 0 0;}
.process_pictogram > ul > li{font-size: 30px; font-weight: 700; letter-spacing: -0.05em;}


/* 태블릿 또는 모바일(폴딩)*/ 
@media screen and (max-width : 768px){
	.join_section .top_text h2{font-size: 40px;}	
	.join_section .top_text p br{display: none;}
	
	.process_pictogram > .process_bar{width: 85%;}
	.process_bar span.bar{width: 50%;}
	/* .process_bar span.circle{width: 25px; height: 25px; border-radius: 25px; top: 50%; transform: translate(-40%, -50%);} */
	.process_bar span.truck{transform: translate(-50%, -50%);}
	.process_bar span.truck_right{right: 0%; transform: translate(50%, -50%);}
}


/* 모바일*/
@media screen and (max-width : 480px){
	.join_section .top_text p{font-size: 16px;}
	.join_section .top_text p br{display: block;}
	.process_pictogram > ul{padding: 10px 0 0 0;}
	.process_pictogram > ul > li{font-size: 4.166666666666667vw/*20px*/;}
	.process_bar span.truck.on{background-size: 80%;}
}


